.form {
  width: 100vw;
  text-align: center;
}

.form-data {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.form-data > label {
  padding-top: 1rem;
  align-self: flex-start;
}

.form-data > button {
  margin-top: 1rem;
  font-size: 1rem;
  align-self: flex-end;
}
